// USER VARIABLES SECTION

$textcolor: #1E2A3C; // Text Color
$orangecolor: #E86423; // Orange Color
$bluecolor: #088BD4; // Blue Color
$darkcolor: #252C32; // Dark Color
$greycolor: #868686; // Grey Color
$lightgreycolor: #696969; // Light Grey Color
$secondlightgreycolor: #616161; // // Second Light Grey Color
$thirdlightbluecolor: #A1A1AA; // Third Light Blue Color
$fontsize: 16px; // Font Size
$lineheight: 1.5; // Document Line Height
$userfont: 'montserrat-regular', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// IMPORT SECTION
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

// @include font('montserrat-light', normal, 400, '../../public/fonts/Montserrat-Light.woff2');
@include font('montserrat-regular', normal, 400, '../../public/fonts/Montserrat-Regular.woff2');
@include font('montserrat-medium', normal, 400, '../../public/fonts/Montserrat-Medium.woff2');
@include font('montserrat-semibold', normal, 400, '../../public/fonts/Montserrat-SemiBold.woff2');
@include font('montserrat-bold', normal, 400, '../../public/fonts/Montserrat-Bold.woff2');

// GENERAL DOCUMENT STYLES

// ::placeholder
//   color: #7f7f7f

* {
  box-sizing: border-box;
}

input, textarea {
  outline: none;
}

html {
  font-size: $fontsize;
}

body {
  font-family: $userfont;
  line-height: $lineheight;
  color: $textcolor;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: #F9F9F9;
}
