/* GENERAL DOCUMENT STYLES */
::placeholder {
  color: #7f7f7f !important;
}

// Перечеркнутый текст
.line-through {
  text-decoration: line-through !important;
}

/* button flex container */
.dashboard-content .button-wrapper {
  display: flex;
  justify-content: space-between;
}
.dashboard-content .button-wrapper-export-button {
  justify-content: end;
}

/* form */
.form-group .form-label {
  display: block;
  font-weight: 600;
}
.form-group textarea {
  resize: none;
}

/* Прикрепить файл */
.inputfile {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-inputfile-label {
  height: 38px;
  padding: 7px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #212529;
  background-color: #e9ecef;
}
.custom-inputfile-label:hover {
  background-color: #dde0e3;
}
.namefile {
  margin-left: 10px;
}
.inputtext {
  height: 300px;
}
.input-number {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sort-input {
  width: 100px;
}
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}
.label-text {
  margin-bottom: .5rem;
  font-weight: 600;
}
.red-text {
  color: red;
}
.green-text {
  color: green;
}

/* Имя и название */
.title-link {
  color: #212529;
}
.title-link:hover {
  text-decoration: underline;
}

/* Таблица */
.table-wrapper {
  overflow-x: auto;
}
.table {
  line-height: 1.2;
}
.table .number-column {
  width: 45px;
}
.table .name-column {
  width: 300px;
}
.table .title-column {
  width: 400px;
}
.table .button-column {
  width: 150px;
}
.table .button-group {
  font-size: 0;
  text-align: right;
}
.table .button-group .btn {
  margin: 0 0 0 4px;
}
.table .button-group .btn:first-child {
  margin: 0;
}
.table .button-group .form {
  display: contents;
}
.table .note .note-text {
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* image preview */
.image-preview img {
  display: inline-block;
  margin: 0 0 10px 0;
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.gallery-delete,
.photo-delete,
.product-delete {
  display: block;
  width: 140px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

/* Отзывы */
.testimonials-wrapper .item {
  position: relative;
  margin-bottom: 16px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.testimonials-wrapper .item-text {
  padding: 0 0 1rem 0;
}
.testimonials-wrapper .publicate-btn {
  display: block;
}
.testimonials-wrapper .rm-testimonial-form {
  position: absolute;
  bottom: 10px;
  right: 12px;
}
.archive .title {
  font-weight: bold;
}
.archive .delete-btn {
  color: red;
}
.archive .list-btn {
  margin: 0 0 0 10px;
}

// Stars звездочки рейтинг отзывы
.stars {
  display: flex;
  gap: 5px;
  .star-path {
    fill: grey;
  }
  .active .star-path {
    fill: #F8C51B;
  }
}

// Pagination pager
.pager {
  display: flex;
  width: max-content;
  margin: 0 auto 50px auto;
  padding: 22px 0 0 0;
  border-top: 1px solid #D5DADD;
  list-style: none;
  justify-content: center;
  .pager-item {
    height: 36px;
    margin: 0 12px;
    // padding: 0 8px;
    text-align: center;
    transition: all .3s;
    @media only screen and (max-width : 480px) {
      min-width: 28px;
      height: 28px;
      margin: 0 3px;
      padding: 1px 6px;
      font-size: 14px;
    }
  }
  .pager-item-previous {
    margin-left: 0;
  }
  .pager-item-next {
    margin-right: 0;
  }
  .pager-item-link,
  .pager-item-span {
    display: block;
    font-family: 'montserrat-medium';
    color: $thirdlightbluecolor;
    line-height: 2.2;
    @media only screen and (max-width : 480px) {
      line-height: 1.9;
    }
  }
  .pager-item.active .pager-item-link,
  .pager-item.active .pager-item-span {
    color: $textcolor;
  }
  .pager-item:hover .pager-item-link,
  .pager-item:hover .pager-item-span {
    color: $orangecolor;
  }
  .pager-item-nav {
    position: relative;
    padding: 0;
  }
  .pager-item-nav .pager-item-link {
    position: relative;
    width: 48px;
    height: 36px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    background-color: #fff;
    @media only screen and (max-width : 480px) {
      width: 42px;
      height: 28px;
    }
  }
  .pager-item .arrow-right,
  .pager-item .arrow-left {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
  }
  .pager-item-nav:hover .arrow-right::before,
  .pager-item-nav:hover .arrow-right::after,
  .pager-item-nav:hover .arrow-left::before,
  .pager-item-nav:hover .arrow-left::after {
    background-color: $orangecolor;
  }
  .pager-item .arrow-right::before,
  .pager-item .arrow-right::after,
  .pager-item .arrow-left::before,
  .pager-item .arrow-left::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    background-color: $textcolor;
    transition: background-color .3s;
  }
  .pager-item .arrow-right::before,
  .pager-item .arrow-right::after {
    right: 4px;
  }
  .pager-item .arrow-right::before {
    top: 6px;
    transform: rotate(45deg);
  }
  .pager-item .arrow-right::after {
    top: 12px;
    transform: rotate(-45deg);
  }
  .pager-item .arrow-left::before,
  .pager-item .arrow-left::after {
    left: 4px;
  }
  .pager-item .arrow-left::before {
    top: 6px;
    transform: rotate(-45deg);
  }
  .pager-item .arrow-left::after {
    top: 12px;
    transform: rotate(45deg);
  }
}

// Поиск товаров
.search-dropdown {
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  .dropdown-item {
    padding: 5px 13px;
    cursor: pointer;
    transition: background-color .2s;
  }
  .dropdown-item:hover {
    background-color: lightgrey;
  }
  .search-message,
  .search-not-found {
    padding: 5px 13px;
    font-size: 13px;
  }
}
.input-product,
.input-category {
  display: block;
  width: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
}
.search-close {
  position: absolute;
  top: 41px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all .3s;
  z-index: 2;
}
.search-close::before,
.search-close::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 2px;
  width: 16px;
  height: 2px;
  background-color: $textcolor;
  transition: background-color .2s;
}
.search-close::before {
  transform: rotate(45deg);
}
.search-close::after {
  transform: rotate(-45deg);
}
.search-close:hover::before,
.search-close:hover::after {
  background-color: $orangecolor;
}
.height100 {
  height: 100px;
}


@media only screen and (max-width : 1400px) {
  .table .name-column {
    width: 285px;
  }
  .event-show .table .name-column {
    width: 265px;
  }
}

@media only screen and (max-width : 1200px) {
  html {
    font-size: 15px;
  }

  .aside {
    width: 220px;
  }
  .content-wrapper {
    margin-left: 220px;
  }
  .table > :not(caption) > * > * {
    padding: 5px;
  }
  .table .number-column {
    width: 39px;
  }
  .table .name-column {
    width: 22%;
  }
  .table .note .note-text {
    height: 36px;
  }
  .table .inn-column {
    width: 150px;
  }
  .table .button-column {
    width: 138px;
  }
  .table .button-group {
    width: 138px;
    display: flex;
  }
  .title-link,
  .title-text {
    display: block;
    height: 36px;
    overflow: hidden;
  }

  .companies .table .name-column {
    width: auto;
  }
  .events-archive .table .name-column {
    width: auto;
  }
  .users .table .name-column {
    width: auto;
  }

}

@media only screen and (max-width : 992px) {
  .aside {
    width: 0;
  }
  .content-wrapper {
    margin-left: 0;
  }
  .content-header .nav-item .burger {
    display: block;
  }
}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }

  .content {
    padding: 30px 12px;
  }

  .clients .table,
  .companies .table,
  .event-show .table {
    min-width: 743px;
  }

  .table .title-column {
    width: 350px;
  }

  .events .table .title-column {
    width: 300px;
  }
}

@media only screen and (max-width : 480px) {
  .events .table {
    min-width: 453px;
  }

  .fc .fc-toolbar {
    display: block;
  }
  .fc .fc-toolbar .fc-toolbar-title {
    margin: 0 0 10px 0;
  }

  .users .table {
    min-width: 456px;
  }

  .users .table .role-column {
    width: 150px;
  }
}