// @import '_config.scss';
// @use '_config.scss';

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  padding-left: 25px;
}
ol {
  padding-left: 25px;
}
p {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}


.header {
  .grid-container {
    display: grid;
    gap: 24px;
    grid-template-columns: 200px 1fr 200px;
  }
  .top-menu {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  }
  .menu-item {
    color: black;
  }
  .phone {
    text-align: right;
  }
}


.products {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  .products-item__image {
    height: 200px;
  }
  .products-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categories {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  .categories-item__image {
    height: 200px;
  }
  .categories-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// footer
.footer {
  margin: 30px 0;
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 0 24px;
  }
  .logo {
    grid-column: col-start/span 4;
  }
  .club {
    grid-column: col-start 5 / span 2;
  }
  .booking {
    grid-column: col-start 7 / span 3;
  }
  .help {
    grid-column: col-start 10 / span 3;
  }
  .bottom-menu {
    margin: 0;
  }
}


// breadcrumbs
.breadcrumbs {
  margin: 25px 0;
  font-size: 14px;
  .parent,
  .arrow,
  .active {
    display: inline-block;
  }
  .parent a {
    color: $greycolor;
  }
}

// pagination pager
.pager {
  display: flex;
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  .pager-item {
    min-width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0 8px;
    border-radius: 21px;
    background-color: #fff;
    text-align: center;
    transition: all .3s;
    @media only screen and (max-width : 480px) {
      min-width: 28px;
      height: 28px;
      margin: 0 3px;
      padding: 1px 6px;
      font-size: 14px;
    }
  }
  .pager-item:hover:not(.disabled) {
    background-color: $bluecolor;
  }
  .pager-item.active {
    background-color: $bluecolor;
  }
  .pager-item-link,
  .pager-item-span {
    display: block;
    min-width: 12px;
    color: $greycolor;
    line-height: 1.9;
  }
  .pager-item.active .pager-item-link,
  .pager-item.active .pager-item-span {
    color: #fff;
  }
  .pager-item:hover .pager-item-link,
  .pager-item:hover .pager-item-span {
    color: #fff;
  }
  .pager-item-nav {
    position: relative;
    padding: 0;
  }
  .pager-item-nav .pager-item-link {
    padding: 15px 0;
  }
  .pager-item .arrow-right,
  .pager-item .arrow-left {
    position: relative;
    display: block;
  }
  .pager-item-nav:hover .arrow-right::before,
  .pager-item-nav:hover .arrow-right::after,
  .pager-item-nav:hover .arrow-left::before,
  .pager-item-nav:hover .arrow-left::after {
    background-color: #fff;
  }
  .pager-item .arrow-right::before,
  .pager-item .arrow-right::after,
  .pager-item .arrow-left::before,
  .pager-item .arrow-left::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: $greycolor;
    transition: background-color .3s;
  }
  .pager-item .arrow-right::before,
  .pager-item .arrow-right::after {
    right: 8px;
  }
  .pager-item .arrow-right::before {
    top: -5px;
    transform: rotate(45deg);
  }
  .pager-item .arrow-right::after {
    top: 2px;
    transform: rotate(-45deg);
  }
  .pager-item .arrow-left::before,
  .pager-item .arrow-left::after {
    left: 8px;
  }
  .pager-item .arrow-left::before {
    top: -5px;
    transform: rotate(-45deg);
  }
  .pager-item .arrow-left::after {
    top: 2px;
    transform: rotate(45deg);
  }
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 80px 30px 30px 30px;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .city-select {
    margin: 0 0 20px 0;
    cursor: pointer;
  }
  .lk-login {
    position: relative;
    display: flex;
    margin: 0 0 20px 0;
  }
  .lk-login__image {
    margin: 0 10px 0 0;
  }
  .lk-login__text {
    font-size: 20px;
  }
  .menu {
    margin: 0 0 35px 0;
    padding: 0;
    list-style: none;
  }
  .menu-item {
    padding: 5px 0;
  }
  .menu-item a {
    font-size: 18px;
    color: $greycolor;
    text-transform: uppercase;
  }
  .callback-btn {
    width: 170px;
    margin: 0 0 35px 0;
    padding: 2px 0px;
    font-size: 16px;
  }
  .info .phone {
    margin: 0 0 5px 0;
    font-family: 'roboto-condensed-bold';
    font-size: 20px;
    color: $accentcolor;
  }
}

// fixed bottom menu
.fixed-bottom-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 86px;
  padding: 17px 10px;
  background-color: $thirdlightgreycolor;
  z-index: 2;
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .menu-item {
    width: 54px;
    position: relative;
    text-align: center;
  }
  .menu-item .menu-item__image {
    margin-bottom: 7px;
  }
  .menu-item img {
    height: 23px;
  }
  .menu-item .menu-item__title {
    font-size: 12px;
  }
  .menu-item .badge-counter {
    top: -5px;
    right: 5px;
    width: 18px;
    height: 18px;
    padding: 2px 0 0 0;
    font-size: 13px;
    line-height: 1;
  }
}

// modal
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
  &.active {
    display: block;
  }
  .modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    padding: 0 12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  .modal-wrapper.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-area {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    padding: 25px 90px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }
  .modal-close {
    position: absolute;
    top: 35px;
    right: 25px;
    cursor: pointer;
  }
  .close {
    position: relative;
    width: 21px;
    height: 21px;
    border-radius: 3px;
  }
  .close:before,
  .close:after { 
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    width: 2px;
    height: 20px;
    border-radius: 2px;
    background-color: $greycolor;
    transition: background-color .3s;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .modal-title {
    margin: 0 0 20px 0;
    font-family: 'roboto-condensed-medium';
    font-size: 30px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
  }
  .modal-submit-btn {
    margin: 0 auto;
  }
}

/* we use cookie */
.we-use-cookie {
  position: fixed;
  right: 25%;
  bottom: 55px;
  display: none;
  z-index: 15;
  &.active {
    display: block;
  }
  .we-use-cookie-wrapper {
    display: flex;
    max-width: 715px;
    padding: 34px;
    border-radius: 10px;
    background-color: #484848;
    align-items: center;
  }
  .we-use-cookie-text {
    padding: 0 10px 0 0;
    font-size: 14px;
    color: #E8E8E8;
  }
  .we-use-cookie-close {
    display: block;
    width: 70px;
    height: 40px;
    padding: 0;
    border: 1px solid #E8E8E8;
    border-radius: 25px;
    background-color: #484848;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #E8E8E8;
    flex-shrink: 0;
    cursor: pointer;
  }
}

// page 404
.page404 {
  text-align: center;
  .page404-image {
    width: 75px;
    margin: 0 auto;
  }
  .page404-image img {
    width: 100%;
  }
  .page404-title {
    font-size: 200px;
    color: $accentcolor;
    line-height: 1.1;
  }
  .page404-subtitle {
    margin: 0 0 20px 0;
    font-size: 30px;
    color: $accentcolor;
    line-height: 1.1;
  }
  .page404-text {
    font-size: 24px;
    line-height: 1.3;
  }
  .page404-text a {
    color: $bluecolor;
  }
}


.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(12px);
  padding-left: calc(12px);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1200px) {
  // footer
  .footer {
    .logo {
      grid-column: col-start/span 2;
    }
    .club {
      grid-column: col-start 3/span 2;
    }
    .booking {
      grid-column: col-start 5/span 4;
    }
    .help {
      grid-column: col-start 9/span 4;
    }
  }

  /* we use cookie */
  .we-use-cookie {
    right: 20%;
  }
  .we-use-cookie .we-use-cookie-wrapper {
    padding: 24px;
  }
}

@media only screen and (max-width : 992px) {

  /* we use cookie */
  .we-use-cookie-wrapper {
    margin: 0 0 0 12px;
  }
}

@media only screen and (max-width : 768px) {
  // footer
  .footer {
    .grid-container {
      grid-template-columns: 100%;
    }
    .logo {
      grid-column: 1;
    }
    .club {
      grid-column: 1;
    }
    .booking {
      grid-column: 1;
      grid-row: 2;
    }
    .help {
      grid-column: 1;
    }
  }

  .burger-menu-wrapper {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .fixed-bottom-menu {
    display: block;
  }

  /* we use cookie */
  .we-use-cookie {
    right: 20%;
  }
  .we-use-cookie .we-use-cookie-wrapper {
    padding: 12px 15px;
  }
  .we-use-cookie .we-use-cookie-text {
    margin: 0 0 10px 0;
    font-size: 12px;
  }
}

@media only screen and (max-width : 576px) {
  
}

@media only screen and (max-width : 480px) {
  /* we use cookie */
  .we-use-cookie {
    right: 30%;
  }
  .we-use-cookie .we-use-cookie-wrapper {
    display: block;
  }
}

@media only screen and (max-width : 360px) {
  
}